<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
</head>
<body>
    <h1>Listado de Películas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Género</th>
                <th>Duración</th>
                <th>Inventario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pelicula in data %}
            <tr>
                <td>{{ pelicula.idPelicula }}</td>
                <td>{{ pelicula.nombre }}</td>
                <td>{{ pelicula.genero }}</td>
                <td>{{ pelicula.duracion }}</td>
                <td>{{ pelicula.inventario }}</td>
                <td>
                  <a href="{{ url_for('pelicula.ver_pelicula_id', idPelicula=pelicula.idPelicula) }}">Ver Detalles</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('pelicula.agregar_peliculas') }}"><button>Agregar Película</button></a>
    <a href="{{ url_for('hello_world') }}"><button>Volver al Inicio</button></a>
</body>
</html>
