<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
  </head>
  <body>
    <h1>Lista de Usuarios</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Email</th>
	  <th>SuperUsuario</th>
          <th>Modificar</th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in data %}
        <tr>
          <td>{{ usuario.idUsuario }}</td>
          <td>{{ usuario.nombre }} {{ usuario.apPat }} {{ usuario.apMat }}</td>
          <td>{{ usuario.email }}</td>
	  <td>{{ usuario.superUser }}</td>
          <td>
            <a href="{{ url_for('usuario.ver_usuario_id', idUsuario=usuario.idUsuario) }}">Ver Detalles</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{{ url_for('usuario.agregar_usuarios') }}" method="get">
      <button type="submit">Agregar Usuario</button>
    </form>
    <a href="{{ url_for('hello_world') }}"><button>Volver al Inicio</button></a>
  </body>
</html>
