/* Estilos para el componente CRUDRentas */

.crud-rentas-container {
  margin: 20px;
}

.crud-rentas-header {
  margin-bottom: 10px;
}

.crud-rentas-list {
  list-style-type: none;
  padding: 0;
}

.crud-rentas-item {
  margin-bottom: 5px;
}

.crud-rentas-input {
  margin-right: 10px;
}

.crud-rentas-button {
  margin-right: 10px;
}
